/* Não Altere o CSS Inicial, Apenas Adicione o Seu CSS. */

.box {
    background-color: blue;
    padding: 10px;
  }
  
  p {
    color: yellow;
    margin: 0;
    padding: 0;
  }

  .white-text {
    color: white;
    background-color:red;
    border: 1px solid black;
    
  }


  #outer-box {
    border: 10px solid purple;
  }